{% extends "layout.twig" %}
{% block page_title %}Enter Your Card Details{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

<div class="container" style="min-width: 500px; width: 50%">
	<p class="text-center"><img src="https://s3.amazonaws.com/securesimplepayments/images/{{ customer }}.png" style="max-width: 500px; max-height: 200px;"></p>
	<p class="lead">
		Enter your payment information below.<br>
		Card details are not stored here but are sent directly to our secure processor.
	</p>

	<script src="https://js.stripe.com/v3/"></script>
	<form action="{{ path("card_complete", {"customer": customer}) }}" method="post" id="payment-form">

		<div class="form-group">
			<p>Please enter your name and email address</p>
			<input id="example1-name" name="name" data-tid="elements_examples.form.name_placeholder" class="form-control form-control-lg" type="text" placeholder="Your Name Here" style="margin-bottom: 10px; font-size: 16px;" required>
			<input id="example1-email" name="email" data-tid="elements_examples.form.email_placeholder" class="form-control form-control-lg" type="email" placeholder="Your Email Here" style="font-size: 16px;" required>
		</div>

		<br>
		<div class="form-group">
			<p>Please enter your credit or debit card</p>
			<div id="card-element"></div>
			<div id="card-errors" role="alert"></div>
		</div>

	  <br>
	  <p class="text-center">
	  	<button class="btn btn-primary btn-lg">Save Card Details</button>
	  </p>
	  <br><br><br>
	</form>
  </div>

{% endblock %}

{% block footer %}

<script type="text/javascript">
var stripe = Stripe('{{ stripe_publishable_key }}');
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
var style = {
  base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    color: "#32325d",
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {
	style: style,
	requestPayerName: true,
	requestPayerEmail: true
});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>

{% endblock %}

