{% extends "layout.twig" %}
{% block page_title %}Thank You{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

<div class="container" style="min-width: 500px; width: 50%">
	<p class="text-center"><img src="https://s3.amazonaws.com/securesimplepayments/images/{{ customer }}.png" style="max-width: 500px; max-height: 200px;"></p>
	<h1 class="text-center">Thank You</h1>
	<h1 class="text-center"><i class="fa fa-check text-success" style="font-size: 60px"></i></h1>
	<p class="lead text-center">Your details have been sent</p>
</div>

{% endblock %}
