{% extends "layout.twig" %}

{% block navbar %}{% endblock %}

{% block content %}

	<div style="margin-top: 60px; text-align: center;">
		<i class="fa fa-lock-alt" style="color: gray; font-size: 250px;"></i>
		<p style="font-family: Patua One; font-size: 50px; line-height: 48px; margin-top: 10px;">Secure Simple<br>Payments</p>
	</div>

{% endblock %}
