<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block page_title %}Secure Simple Payments{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Patua+One" rel="stylesheet">
	<link href="/css/fontawesome.min.css" rel="stylesheet">
	<link href="/css/fa-solid.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.png">

</head>
<body>

{% block navbar %}
<nav class="bg-dark" style="padding: 10px 0">
	<div class="container" style="font-family: Patua One; font-size: 30px; color: #efefef">
		<i class="fa fa-lock-alt" style="color: #ababab; margin-right: 6px;"></i> Secure Simple Payments
	</div>
</nav>
{% endblock %}

<main role="main" class="container" style="margin-top: 20px;">

	{% block content %}{% endblock %}

</main><!-- /.container -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% block footer %}{% endblock %}

</body>
</html>
