{% extends "layout.twig" %}
{% block page_title %}Sign Up{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1 class="display-4">Easily Charge Your Customers</h1>
	<p class="lead">Secure Simple Payments lets you charge your customers using our simple API.</p>
	<hr class="my-4">
	<p>Enter your details and upload your logo to get a branded URL for your customers to add their payment info.</p>
	<p>Submit invoices to the Secure Simple Payments API and choose to charge orders immediately, daily, weekly, or monthly.</p>
	<p>There will be a 2.5% fee for all successful charges.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="{{ auth_url }}" role="button">Connect to Stripe</a>
	</p>
</div>
<p class="text-center">Brought to you by the friendly folks from <a href="https://www.orderdesk.me">Order Desk</a>.</p>

{% endblock %}
