{% extends "layout.twig" %}
{% block page_title %}Setup Your Account{% endblock %}

{% block content %}

    <h1>Complete Setup</h1>
    <p class="lead"><i class="fa fa-check text-success"></i> Your Stripe Account Has Been Connected</p>

	<div class="container" style="max-width: 800px; float: left">
		<form method="post" action="{{ path('signup_complete') }}" enctype="multipart/form-data">
			<input type="hidden" name="set" value="1">
			<input type="hidden" name="stripe_access_token" value="{{ stripe_access_token|e("html_attr") }}">
			<input type="hidden" name="stripe_publishable_key" value="{{ stripe_publishable_key|e("html_attr") }}">
			<input type="hidden" name="stripe_user_id" value="{{ stripe_user_id|e("html_attr") }}">

			<div class="form-group">
				<label for="name">Your Name</label>
				<input type="text" name="name" class="form-control form-control-lg" id="nameiol">
			</div>
			<div class="form-group">
				<label for="email">Email Address</label>
				<input type="email" name="email" class="form-control form-control-lg" id="emaiol" aria-describedby="emailHelp">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="phone">Mobile Phone Number</label>
				<input type="text" name="phone" class="form-control form-control-lg" id="phone">
			</div>
			<div class="form-group">
				<label for="company_name">Company Name</label>
				<input type="text" name="company_name" class="form-control form-control-lg" id="company_nameiol">
			</div>

			<div class="form-group">
				<label for="customer">Account ID</label>
				<input type="text" name="customer" class="form-control form-control-lg" id="customeriol" aria-describedby="customerHelp">
				<small id="customerHelp" class="form-text text-muted">This is used to build your custom URL.</small>
				<small class="form-text text-muted">https://securesimplepayments.com/enter-card-details/<span id="storenamesample">yourstorename</span></small>
			</div>
			<div class="form-group">
				<label for="invoice_frequency">When Should We Compile and Charge Invoices?</label><br>
				<select id="invoice_frequency" name="invoice_frequency">
					<option value="immediately">Immediately</option>
					<option value="day" selected>Daily (Evening)</option>
					<option value="week">Weekly (Friday Evening)</option>
					<option value="month">Monthly (On the 1st)</option>
				</select>
			</div>
			<div class="form-group">
				<label for="logoupload">Logo</label>
				<input type="file" class="form-control-file" name="logoupload" id="logoupload" aria-describedby="uploadHelp" accept="image/x-png,image/png">
				<small id="uploadHelp" class="form-text text-muted">PNG only</small>
			</div>

			<button type="submit" class="btn btn-primary">Complete Your Setup</button>
			<br><br><br><br>
		</form>
	</div>

  </div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("#nameiol").focus();

	$('#customeriol').bind('keypress', function (event) {
		var regex = new RegExp("^[a-zA-Z0-9]+$");
		var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
		if (!regex.test(key)) {
			event.preventDefault();
			return false;
		}
	});

	$("#customeriol").on('keyup', function() {
		$("#storenamesample").html($(this).val());
	});
});
</script>
{% endblock %}
