{% extends "layout.twig" %}
{% block page_title %}Account Setup Successfully{% endblock %}

{% block content %}

<div class="container">

	<h1>Success!</h1>
	<p class="lead"><i class="fa fa-check text-success"></i> Your Account Has Been Created</p>

	<div class="container">
		<p>Give this branded URL to your customers: <b><a href="{{ path("card_begin", {"customer": customer}) }}">https://securesimplepayments.com{{ path("card_begin", {"customer": customer}) }}</a></b></p>
		<p>Once the customer has entered their card, please retrieve the Customer ID field from <a href="https://dashboard.stripe.com/customers" target="_blank">Stripe</a>. This is what it looks like:<br>
			<img src="/images/stripe-customer-code.png" style="width: 400px;" alt="How to get your Stripe Customer ID">
		</p>
		<p>In order to create invoice items, you'll need to send data to our API. You must pass in the customer_id field, the amount you are charging, and a description. Shipping is optional. You can pass in multiple charges in multiple calls if you like.</p>

		<dl class="row">
			<dt class="col-sm-2">Endpoint</dt>
			<dd class="col-sm-9"><pre>POST https://securesimplepayments.com{{ path("api") }}</pre></dd>
			<dt class="col-sm-2">Required Headers</dt>
			<dd class="col-sm-9"><pre>X-ACCOUNTID: {{ customer }}
X-APIKEY: {{ api_key }}</pre></dd>
			<dt class="col-sm-2">Request Body</dt>
			<dd class="col-sm-9"><pre>{
	"customer_id": "cus_CX7ZJMlV5N9mpe",
	"amount": 20,
	"description": "Order 1901 - Tshirt",
	"shipping": 4
}</pre></dd>
		</dl>

	</div>

</div>

{% endblock %}

